<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User List</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Registered Users</h1>
    <ul>
      <% users.forEach(function(user) { %>
      <li>
        <strong>Username:</strong> <span><%= user.username %></span>
        <strong>Name:</strong>
        <span><%= user.first_name %> <%= user.last_name %></span>
        <strong>Email:</strong> <span><%= user.email %></span>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
